* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    /* background-image: url(https://images6.alphacoders.com/106/thumb-1920-1067101.png); */
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

} */

nav {
    display: flex;
    /* position: absolute; */
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    color: rgb(255, 251, 251);
    background-color: black;
    align-items: center;
    position: fixed;

    /* position: relative; */
}

nav::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 10%;
    z-index: -1;
    opacity: 0.7;
}

.logo img {
    /* width: 130px; */
    height: 30px;
    margin-left: 100px;
    /* margin-right: 900px; */
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    margin-right: 490px;
}

.list li {
    margin: 0 0.9rem;
    font-size: 1.1rem;
    color: white;
    text-decoration: none
}

.list li:hover {
    color: rgb(250, 8, 8);
}

.srch {
    position: relative;
    /* width: 300px; */
    margin-right: 40px;
    height: 40px;
}

/* .srch input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(250, 249, 249);
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 5px 0 25px;
} */

.content {
    /* position: absolute; */
    z-index: 1;
    padding: 59px;
    height: 90vh;
    width: 100%;
    background-size: cover;
    margin-top: 60px;

}

.title {
    max-width: 350px;
}

.banner {
    color: rgba(255, 255, 2555, 0.5);
    font-weight: 500;
}

.banner span {
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 2555, 0.5);
}

.banner span:first-child {
    padding-left: 0;
}

.banner span:last-child {
    border-right: none;
}

.banner span i {
    background: #de0611;
    padding: 0 8px;
    display: inline-block;
    font-style: normal;
    border-radius: 2px;
}

.para {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5em;
    color: rgb(11, 11, 11);
    margin: 5px 0 20px;
}

.btn1 {
    font-size: 25px;
    background: #fefdfd;
    /* padding-right: 20px; */
    color: rgb(8, 0, 0);
    height: 35px;
    border: none;
    padding: 5px 10px;
}

.btn2 {
    font-size: 25px;
    background: #0f0f0f;
    color: white;
    /* padding-right: 20px; */
    height: 35px;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;

}

.user {
    height: 25px;
    margin-left: 20px;
}

.movies-container {
    background-color: #0f0f0f;
    padding-bottom: 100px;
}

.movies-header {
    color: white;
}

.allcard-list {
    display: flex;
    height: 250px;
    /* width: 100vw; */
    background-color: #0a0a0a;
    /* justify-content: space-around; */
    overflow-x: scroll;
    margin: 10px;
    padding-left: 50px;
}

.allcard-list::-webkit-scrollbar {
    display: none;
}


.card {
    background-image: url(https://image.tmdb.org/t/p/original/faXT8V80JRhnArTAeYXz0Eutpv9.jpg);
    min-width: 450px;
    height: 230px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.bottom-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, #000, rgba(0, 0, 0, .4));
    width: 100%;
    height: 20%;
    color: white;
}

.title {
    font-size: 1.2rem;
    margin-left: 9px;
}